<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">Create Scenario</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="card text-border">
    <h1>Create a Scenario</h1>
</div>
<div class="card">
    <form th:action="@{/scenario/create}" th:object="${form}" method="post" class="form">

        <div class="field">
            <label>
                <input type="text" th:field="*{title}"/>
            </label>
        </div>

        <div class="field">
            <label>Description</label>
            <label>
                <textarea th:field="*{description}"></textarea>
            </label>
        </div>

        <div class="field">
            <label>Language</label>
            <label>
                <input type="text" id="langFilter" placeholder="Search language..."/>
                <select th:field="*{languageId}" required id="langSelect">
                    <option value="" disabled selected>-- choose --</option>
                    <option th:each="l : ${langList}"
                            th:value="${l.id}"
                            th:text="${l.name}">
                    </option>
                </select>
                <script>
                    const filter = document.getElementById('langFilter');
                    const select = document.getElementById('langSelect');
                    const options = Array.from(select.options);

                    filter.addEventListener('input', () => {
                        const q = filter.value.toLowerCase();
                        options.forEach(opt => {
                            opt.hidden = !opt.text.toLowerCase().includes(q);
                        });
                    });
                </script>
            </label>
        </div>

        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>

</body>
</html>