<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${appName}"></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="card text-border">
            <h1>Hello !</h1>
        </div>
        <div class="card">
            <div class="text">
                <p>Welcome to <span th:text="${appName}">Our App</span></p>
                <p>
                    <a href="/languages">See listed Languages</a> (<a href="https://glottolog.org">Glottolog</a>, January 2026)
                </p>
            </div>
        </div>
    </body>
</html>