<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="card text-border">
    <h1>Login</h1>
</div>
<div class="card">
    <form th:action="@{/login}" method="post" class="form">
        <div class="field">
            <label>Username</label>
            <label>
                <input name="username"/>
            </label>
        </div>
        <div class="field">
            <label>Password</label>
            <label>
                <input type="password" name="password"/>
            </label>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>

        <div>
            <p th:if="${param.error}">Bad credentials</p>
            <p th:if="${param.registered}">Account created, you can login.</p>
        </div>
    </form>
</div>

</body>
</html>