<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="card text-border">
    <h1>Register</h1>
</div>
<div class="card">
    <form th:action="@{/register}" method="post" th:object="${form}" class="form">
        <div class="field">
            <label>Username</label>
            <label>
                <input th:field="*{username}"/>
            </label>
        </div>
        <div class="field">
            <label>Email</label>
            <label>
                <input th:field="*{email}"/>
            </label>
        </div>
        <div class="field">
            <label>Password</label>
            <label>
                <input type="password" th:field="*{password}"/>
            </label>
        </div>

        <div>
            <button type="submit">Create account</button>
        </div>
        <div><p th:if="${error}" th:text="${error}"></p></div>
    </form>
</div>
</body>
</html>