<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">Scenario Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="card text-border">
    <h1 th:text="${scenario.title}">Scenario Viewer</h1>
    <p>Scenario Viewer</p>
</div>
<div class="card">
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th>Title</th>
                <td th:text="${scenario.title}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td th:text="${scenario.description}"></td>
            </tr>
            <tr>
                <th>Language</th>
                <td th:text="${scenario.language.name}" th:href="@{/language/${scenario.language_id}}"></td>
            </tr>
            <tr>
                <th>Author</th>
                <td th:text="${scenario.author.username}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>